  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0 !important;
  }


  /* Main styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  .slider-container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    min-width: 100%;
    padding: 0 !important;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .dot-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 40px;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .counter-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      font-size: 18px;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 10px;
      top: 10px;
      padding: 7px !important;
      border-radius: 10px;
  }
  
  img{
    height: 600px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: black;
  }
  
  .active_img{
    display: block !important;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    border-radius: 55px;
    padding: 7px !important;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background: #000;
  }
  
  
  .carousel-control-prev {
    margin-left: 10px;
  }
  
  .carousel-control-next {
    margin-right: 10px;
  }
  
  .slide {
    display: none;
  }
  .active_img {
    display: block;
  }